[line_id]
channel_access_token = BEWJM5cWc8PqWYvc47YtVkO8uxVm/tWYv80cFw1Id6cxJEOGatb0pStzAsyjkITc2/BgbdWh4jV1AJT1nAyX/ihbzAQ6D1CC6vB1jDIE8u9GHv5KNZkv7tjJFLIvbPXIgbuxWgr5bFfEuW3k4zdcNgdB04t89/1O/w1cDnyilFU=
user_id = Uc03e28215289c9783b8dd8753cbf63b4

[server_id]
server_email = Yeong.cong@ctitv.com.tw
server_password = cti113138
email_receiver = cong29212@gmail.com
email_Bcc = cong29212@gmail.com

[API_key]
api_key = AIzaSyD-oHGuCUlAJtFQECU6V8-6mX3KVwR5v_I

[web_link]
socialblade = https://socialblade.com/youtube/lists/top/100/views/news/TW
playboard = https://playboard.co/en/youtube-ranking/most-viewed-news-channels-in-taiwan-daily
playboard_most_view_video = https://playboard.co/en/chart/video/most-viewed-news-videos-in-taiwan-daily
playboard_most_view_short = https://playboard.co/en/chart/short/most-viewed-news-videos-in-taiwan-daily
playboard_most_view_live = https://playboard.co/en/chart/live/most-watched-news-videos-in-taiwan-daily

[discord_webhook]
url = https://discord.com/api/webhooks/1363806102268940348/7BY40oEQAMd9JlC5xLtzvXJ0y_6E3xS5QjqjMhu_pA9tOn_FBRsmA1Ss28H1rg9149-6

[SQL_DB]
DB_URL = mysql+pymysql://dbuser:66007766@10.227.58.81/
